body
{
    background-color: #161616;
}

h1
{
    color: darkorange;
    text-align: center;
    font-family: "Arial Black";
}

h2
{
    color: green;
    text-align: left;
    font-family: "Arial";
}

h3
{
    color: orange;
    text-align: left;
    font-family: "Arial";
}

h8
{
    color: lightgrey;
    text-align: left;
    font-family: "Arial";
    font-size: 20px;
    padding: 0px 0px 0px 20px;
}

p
{
    color: lightgrey;
    text-align: left;
    font-family: "Arial";
    font-size: 16px;
    padding: 0px 600px 0px 0px
}

a:link
{
    color: skyblue;
    font-family: "Arial";
    background-color: transparent;
    text-decoration: none;
}

a:visited
{
    color: skyblue;
    font-family: "Arial";
    background-color: transparent;
    text-decoration: none;
}

a:hover
{
    color: lightblue;
    font-family: "Arial";
    background-color: transparent;
    text-decoration: underline;
}

a:active
{
    color: white;
    font-family: "Arial";
    background-color: transparent;
    text-decoration: underline;
}